body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

h1, h2 {
    color: #333;
    font-weight: bold;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div {
    margin-bottom: 10px;
}

form input, form select {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ingredient-list {
    display: flex;
    flex-direction: column;
}
.ingredient-list li {
    display: flex;
    width: auto;
}
.ingredient-list li button {
    margin: 10px;
}
ul li {
    flex-basis: 45%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px 0;
    margin-bottom: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #3498db;
}
